# UJI **HIPOTESIS**

Z Test digunakan untuk jumlah data yang lebih besar dari 30

In [1]:
#48% orang tua mempercayai bahwa sosial media menyebabkan anak mereka stress

import statsmodels.api as sm
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
n=4500
pnull=0.48
phat = 0.65   #65%XJumlah responden (4500)
sm.stats.proportions_ztest(phat * n, n, pnull, alternative='larger')

#Karena nilai p value kurang dari H0, maka tolak H0
#Our calculate P-value of 1.2294951052777303e-126 is pretty small,
#and we can reject the null hypothesis, which is that social media
#23.90916877786327) nilai Z secara statistik

(np.float64(23.90916877786327), np.float64(1.2294951052777303e-126))

In [3]:
import numpy as np
sdata = np.random.randint(200, 250, 89)
sm.stats.ztest(sdata, value = 80, alternative= "larger")

(np.float64(89.02940188694173), np.float64(0.0))

In [ ]:
#value ho=80
#p value 0.0 tolak Ho.
#Nilai rata" lebih besar dari 80

In [4]:
sdata

array([228, 237, 218, 246, 246, 242, 217, 202, 212, 249, 244, 202, 242,
       243, 222, 205, 230, 217, 227, 224, 246, 201, 248, 247, 207, 224,
       225, 242, 235, 205, 236, 224, 220, 239, 233, 201, 246, 214, 229,
       234, 249, 212, 206, 217, 200, 201, 205, 244, 229, 209, 210, 239,
       231, 229, 227, 239, 248, 200, 242, 209, 203, 236, 224, 222, 241,
       232, 231, 215, 234, 210, 210, 217, 204, 238, 234, 208, 235, 247,
       209, 249, 230, 205, 209, 242, 206, 225, 231, 223, 240])

T TEST digunakan untuk jumlah data yang lebih kecil dari 30

In [6]:
import numpy as np
height =np.array([172, 184, 174, 168, 174, 183, 173, 173, 184,
179, 171, 173, 181, 183, 172, 178, 170, 182, 181, 172, 175, 170,
168, 178, 170, 181, 180, 173, 183, 180, 177, 181, 171, 173, 171,
182, 180, 170, 172, 175, 178, 174, 184, 177, 181, 180, 178, 179,
175, 170, 182, 176, 183, 179, 177])

from scipy.stats import ttest_1samp
height_average = np.mean(height)
print("Average height is = {0:.3f}".format(height_average))

Average height is = 176.545

Ho rata" tinggi badan = 175
H1 rata" tinggi badan >=175
Tolak H0, terima H1 rata" lebih besar dari 175

In [8]:
tset, pval = ttest_1samp(height, 175)
print("P-value = {}".format(pval))
if pval < 0.05:
  print("We are rejecting null hypothesis")
else:
  print("We are accepting the null hypotesis")

P-value = 0.019403337788027563
We are rejecting null hypothesis